<h1 [style.color]="myHelloComponent.listaNombres.length > 0 ? 'red' : 'black'"
  [style.font-size.%]="myHelloComponent.listaNombres.length > 0 ? 200 : 150">Fundamentos</h1>

<div [class.hidden]="myHelloComponent.ingreseNombre.length == 0">Escribiendo '{{myHelloComponent.ingreseNombre}}' en HelloComponent</div>
<br>
<app-hello #myHelloComponent [nombre]="myName" apellido="Salamanca" (saludo)="saludar($event)">
</app-hello>
<app-hello name="Mark"></app-hello>
<app-hello name="Rober"></app-hello>
<app-hello name="Jhon"></app-hello>
